<!DOCTYPE html>
<html>
  <head>
    <title>PowerpointGenerator</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script lang="javascript" src="PptxGenJS/libs/jquery.min.js"></script>
	<script lang="javascript" src="PptxGenJS/libs/jszip.min.js"></script>
	<script lang="javascript" src="PptxGenJS/dist/pptxgen.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
